html {
  background-color: #0a2e5e;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

#graph {
  overflow: hidden;
  margin-left: 100px;
}

.node {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  /* border-radius: 50%; */
  /* line-height: 40px; */
  text-align: center;
}

.start-node {
  margin-bottom: 60px;
}

.line {
  position: absolute;
  transform-origin: top left;
  height: 30px;
  z-index: 2;
  background-image: url(./line.svg);
  background-size: 67% 100%;
  padding: 0 30px;
  background-repeat: no-repeat;
  z-index: -2;
}

.title {
  font-size: 32px;
  font-weight: 500;
  font-family: Caladea, sans-serif;
  color: #2f3b69;
  margin-bottom: 10px;
}

.content {
  color: #2f3b69;
  font-family: Garet;
  font-size: 21px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-40%, -50%);
  z-index: -1;
}

.animate {
  animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.node-wrap {
  background: #fff;
  width: 100%;
  height: 100%;
}

.node-title {
  font-size: 32px;
  font-weight: 500;
  font-family: Caladea, sans-serif;
  color: #2f3b69;
  margin-bottom: 10px;
}

.node-content {
  color: #2f3b69;
  font-family: Garet;
  font-size: 21px;
  font-weight: 400;
}